/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'Icons';
    src: url("../fonts/icomoon.ttf")
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.special-offer-div {
    display: flex;
    height: 350px;
    border: 1px solid black;
    background-color: dimgray;
    border-radius: 15px;
}


.special-offer-info {
    width: 1110px;
    height: inherit;
    z-index: 10;
    position: absolute;
    top: auto;
    left: auto;
}

.special-offer-img {
    max-height: 348px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.special-offer-title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 35%;
    top: 35px;
    max-height: 50px;
    background-color: wheat;
    width: max-content;
}

.special-offer-duration {
    background-color: wheat;
    width: fit-content;
    position: absolute;
    left: 1000px;
    top: 220px;
}

.icon-radio-unchecked:before {
    font-family: Icons;
    content: "\ea56";
}

.icon-contrast:before {
    font-family: Icons;
    content: "\e9d5";

}

.icon-circle-right:before {
    font-family: Icons;
    content: "\ea42";
    position: relative;
    top: -15px;
}

.icon-circle-left:before {
    font-family: Icons;
    content: "\ea44";
    position: relative;
    top: -15px;
}

.special-offer-price {
    background-color: wheat;
    width: fit-content;
    position: absolute;
    top: 250px;
    left: 943px;
}

.special-offer-details {
    background-color: burlywood;
    font-size: 25px;
    padding: 3px;
    border-radius: 13px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 290px;
    left: 1000px;
}

.special-offer-details:hover {
    color: black;
    text-decoration: none;
    background-color: saddlebrown;
}

.special-offer-change {
    font-size: 54px;
    border-radius: 35px;
    display: block;
    width: 52px;
    height: 52px;
    background-color: wheat;
    cursor: pointer;
}

.special-offer-previous {
    position: absolute;
    top: 150px;
    left: 10px;
}

.special-offer-next {
    position: absolute;
    top: 150px;
    right: 10px;
}

.title-p {
    font-size: 23px;
    font-family: monospace;
    top: 20px;
    position: relative;
    text-align: center;
}
